%h1.blog-title List Article
.main
  = button_to "New Article", new_article_path , method: :get, :class => "btn btn-primary"
  %br/
  %br/
  %br/
  -#%h2{:style => "font-size: 100%; margin-top: 0; padding-top: 0; padding-bottom: 20px;"} Latest
  .container
    = render 'articles/article'
  .result
  -# = paginate @article
  %p.text-center#view-more= link_to "View More", "#", :onclick => 'viewMore()', :remote => true
  -#%p.result