.main
  %h1.blog-title New Article
  - if @article.errors.any?
    %h2 The following errors prevented the article from saving:
    %ul.alert.alert-danger
      - @article.errors.full_messages.each do |msg|
        %li= msg
  .form
    = render "form", article: @article
