.container
  = button_to "New Customer", new_customer_path, :method => :get, :class => "btn btn-primary"
%br
%br
%br
  = render "customers/customer"

.container= paginate @Customer, theme: 'twitter-bootstrap-3'

-#%p.text-center#view-more= link_to "View More", "#", :onclick => 'viewCustomer()', :remote => true