$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  margin: 40px;
  color: #262626;
}

.main{
  margin: auto;
  max-width: 800px;
  .form{
    display: flex;
    justify-content: center;
  }
}
h1.blog-title {
  font-size: 380%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px;
  display: block;
  line-height: 90%;
  display: block;
  max-width: 1200px;
  text-align: center;
}

p, .updateTime{
  margin: 35px 0;
  font-size: 105%;
  line-height: 150%;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #666666;
  text-decoration: none;
}

.container {
  margin-top: 30px;
  width: 1280px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.description {
  margin-top: 0;
}
.listing {
  list-style: none;
  padding-left: 0;
}

div.form_dk{
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 20px;
}

.input-title{
  width: 555px;
}

textarea{
  width: 555px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 203px;
}

.btn {
  float: left;
  margin-right: 7px;
}

.comment-thread.root {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f6f6f7;
  border-radius: 3px;
  border: 1px solid #d6d6d7;
}

.table{
  margin: 20px 0;
}

.table th, .table td{
  width: 60px;
}

article .post-meta{
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
  color: #666666;
}

.commentStar{
  display: flex;
  img{
    width: 15px;
    margin-right: 5px;
  }
}

.star {
  display: none;
}

.pagination .page a,
.pagination .prev a,
.pagination .first a,
.pagination .next_page a,
.pagination .last a
{
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-right: unset;
}

.pagination li:last-child a{
  border: 1px solid #ddd;
}

.pagination li.page.active a{
  background-color: #ddd;
}