%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to "Home", root_path, class: "navbar-brand", id: "logo"
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => customers_path} Customer
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{:href => "#"} Action
            %li
              %a.dropdown-item{:href => "#"} Another action
            %li
              %hr.dropdown-divider/
            %li
              %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item
          %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
      = form_tag(customers_path, method: :get, :class => "d-flex") do
        = text_field_tag :s, params[:s], class: "form-control me-2", :type => "Search"
        = submit_tag 'Search', :class => "btn btn-outline-success"
        -#%input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        -#%button.btn.btn-outline-success{:type => "submit"} Search
